openapi: 3.0.3
info:
  title: ZTouch API Contracts
  version: 1.0.0
  description: Initial API contract generation from backend routes.
servers:
  - url: https://ztouch-api.btc.bw:2896
    description: Production
  - url: https://ztouch-proxy.btc.bw
    description: Public proxy (customer SMS web)
  - url: http://localhost:8000
    description: Local
security:
  - BearerAuth: []
paths:
  /admin/:
    get:
      summary: Django admin
      security: []
      responses:
        '302': { description: Redirect to login }
        '200': { description: Admin page }
  /v2/accounts/login:
    post:
      summary: User login
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: Login success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /v2/accounts/logout:
    post:
      summary: User logout
      responses:
        '200': { $ref: '#/components/responses/SuccessMessage' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /v2/accounts/create-user/:
    post:
      summary: Create user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateUserRequest'
      responses:
        '201': { $ref: '#/components/responses/SuccessMessage' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /v2/accounts/change-password/:
    post:
      summary: Change password
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ChangePasswordRequest' }
      responses:
        '200': { $ref: '#/components/responses/SuccessMessage' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /v2/accounts/reset-password/:
    post:
      summary: Reset password
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ResetPasswordRequest' }
      responses:
        '200': { $ref: '#/components/responses/SuccessMessage' }
        '400': { $ref: '#/components/responses/BadRequest' }
  /v2/accounts/forgot-password/:
    post:
      summary: Forgot password
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ForgotPasswordRequest' }
      responses:
        '200': { $ref: '#/components/responses/SuccessMessage' }
        '400': { $ref: '#/components/responses/BadRequest' }
  /v2/accounts/expo/update-token/:
    post:
      summary: Update Expo token
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ExpoTokenRequest' }
      responses:
        '200': { $ref: '#/components/responses/SuccessMessage' }
        '400': { $ref: '#/components/responses/BadRequest' }
  /v2/accounts/groups/{group}:
    get:
      summary: List users in a group
      parameters:
        - name: group
          in: path
          required: true
          schema: { type: string }
        - name: page
          in: query
          schema: { type: integer }
        - name: page_size
          in: query
          schema: { type: integer }
        - name: ordering
          in: query
          schema: { type: string }
      responses:
        '200': { $ref: '#/components/responses/UsersList' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /v2/accounts/companies/:
    get:
      summary: List companies
      responses:
        '200': { $ref: '#/components/responses/CompaniesList' }
    post:
      summary: Create company
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CompanyCreateRequest' }
      responses:
        '201': { $ref: '#/components/responses/CompanyResponse' }
  /v2/accounts/companies/{company_id}/:
    patch:
      summary: Update company
      parameters:
        - name: company_id
          in: path
          required: true
          schema: { type: integer }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CompanyUpdateRequest' }
      responses:
        '200': { $ref: '#/components/responses/CompanyResponse' }
    delete:
      summary: Delete company
      parameters:
        - name: company_id
          in: path
          required: true
          schema: { type: integer }
      responses:
        '200': { $ref: '#/components/responses/SuccessMessage' }
  /v2/accounts/users/:
    get:
      summary: List users (admin only)
      description: Admin-only user list for management UI.
      parameters:
        - name: q
          in: query
          schema: { type: string }
        - name: group
          in: query
          schema: { type: string }
        - name: company_id
          in: query
          schema: { type: integer }
        - name: supervisor
          in: query
          schema: { type: string }
        - name: page
          in: query
          schema: { type: integer }
        - name: page_size
          in: query
          schema: { type: integer }
      responses:
        '200': { $ref: '#/components/responses/AdminUsersList' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /v2/accounts/me/:
    get:
      summary: Get current user role info
      responses:
        '200':
          description: Current user
          content:
            application/json:
              schema: { $ref: '#/components/schemas/CurrentUserResponse' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /v2/accounts/users/{username}/:
    get:
      summary: Get user detail (admin only)
      description: Admin-only user detail for management UI.
      parameters:
        - name: username
          in: path
          required: true
          schema: { type: string }
      responses:
        '200': { $ref: '#/components/responses/AdminUserDetail' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
  /v2/accounts/teamleaders/technicians/:
    get:
      summary: List technicians under teamleader
      parameters:
        - name: search
          in: query
          required: false
          schema: { type: string }
        - name: supervisor
          in: query
          required: false
          schema: { type: string }
        - name: unassigned
          in: query
          required: false
          schema: { type: boolean }
        - name: missing_fields
          in: query
          required: false
          schema: { type: string }
        - name: missing
          in: query
          required: false
          schema: { type: string }
        - name: page
          in: query
          schema: { type: integer }
        - name: page_size
          in: query
          schema: { type: integer }
        - name: ordering
          in: query
          schema: { type: string }
      responses:
        '200': { $ref: '#/components/responses/TeamleaderTechniciansResponse' }
  /v2/accounts/teamleaders/{supervisor_username}/buckets/:
    get:
      summary: List buckets for a teamleader (admin only)
      description: Admin-only endpoint for assignment UI to pick a bucket.
      parameters:
        - name: supervisor_username
          in: path
          required: true
          schema: { type: string }
      responses:
        '200': { $ref: '#/components/responses/TeamleaderBucketsResponse' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
  /v2/accounts/teamleaders/buckets/:
    get:
      summary: List buckets for a teamleader (admin only)
      parameters:
        - name: supervisor
          in: query
          required: true
          schema: { type: string }
      responses:
        '200': { $ref: '#/components/responses/BucketsResponse' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
  /v2/accounts/teamleaders/technicians/assign/:
    post:
      summary: Assign technician to teamleader
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/AssignTechnicianRequest' }
      responses:
        '200': { $ref: '#/components/responses/SuccessMessage' }
        '404': { $ref: '#/components/responses/NotFound' }
  /v2/accounts/teamleaders/technicians/unassign/:
    post:
      summary: Unassign technician from teamleader
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/UnassignTechnicianRequest' }
      responses:
        '200': { $ref: '#/components/responses/SuccessMessage' }
  /v2/accounts/teamleaders/reports/technicians/:
    get:
      summary: Technician performance report
      parameters:
        - name: date_from
          in: query
          schema: { type: string, format: date }
        - name: date_to
          in: query
          schema: { type: string, format: date }
        - name: supervisor
          in: query
          schema: { type: string }
      responses:
        '200': { $ref: '#/components/responses/ReportResponse' }
  /v2/accounts/teamleaders/reports/technicians/summary/:
    get:
      summary: Technician performance summary with trends
      parameters:
        - name: technician
          in: query
          schema: { type: string }
        - name: date_from
          in: query
          schema: { type: string, format: date }
        - name: date_to
          in: query
          schema: { type: string, format: date }
        - name: granularity
          in: query
          schema: { type: string, enum: [daily, weekly, monthly, yearly] }
        - name: supervisor
          in: query
          schema: { type: string }
      responses:
        '200': { $ref: '#/components/responses/ReportSummaryResponse' }
  /v2/accounts/teamleaders/reports/technicians/lowest/:
    get:
      summary: Lowest performing technician summary
      parameters:
        - name: supervisor
          in: query
          schema: { type: string }
        - name: date_from
          in: query
          schema: { type: string, format: date }
        - name: date_to
          in: query
          schema: { type: string, format: date }
      responses:
        '200': { $ref: '#/components/responses/LowestTechnicianResponse' }
  /v2/accounts/teamleaders/reports/external/technicians/:
    get:
      summary: External teamleaders technician performance report
      parameters:
        - name: date_from
          in: query
          schema: { type: string, format: date }
        - name: date_to
          in: query
          schema: { type: string, format: date }
        - name: supervisor
          in: query
          schema: { type: string }
      responses:
        '200': { $ref: '#/components/responses/ReportResponse' }
  /v2/accounts/teamleaders/reports/external/technicians/summary/:
    get:
      summary: External teamleaders technician performance summary
      parameters:
        - name: technician
          in: query
          schema: { type: string }
        - name: date_from
          in: query
          schema: { type: string, format: date }
        - name: date_to
          in: query
          schema: { type: string, format: date }
        - name: granularity
          in: query
          schema: { type: string, enum: [daily, weekly, monthly, yearly] }
        - name: supervisor
          in: query
          schema: { type: string }
      responses:
        '200': { $ref: '#/components/responses/ReportSummaryResponse' }
  /v2/accounts/teamleaders/reports/external/technicians/lowest/:
    get:
      summary: External teamleaders lowest performing technician summary
      parameters:
        - name: supervisor
          in: query
          schema: { type: string }
        - name: date_from
          in: query
          schema: { type: string, format: date }
        - name: date_to
          in: query
          schema: { type: string, format: date }
      responses:
        '200': { $ref: '#/components/responses/LowestTechnicianResponse' }
  /v2/accounts/leadops/reports/teamleaders/:
    get:
      summary: LeadOps teamleader technician performance report
      parameters:
        - name: date_from
          in: query
          schema: { type: string, format: date }
        - name: date_to
          in: query
          schema: { type: string, format: date }
        - name: supervisor
          in: query
          schema: { type: string }
        - name: scope
          in: query
          schema: { type: string, enum: [combined, internal, external] }
      responses:
        '200': { $ref: '#/components/responses/ReportResponse' }
  /v2/accounts/leadops/reports/teamleaders/summary/:
    get:
      summary: LeadOps teamleader technician performance summary
      parameters:
        - name: technician
          in: query
          schema: { type: string }
        - name: date_from
          in: query
          schema: { type: string, format: date }
        - name: date_to
          in: query
          schema: { type: string, format: date }
        - name: granularity
          in: query
          schema: { type: string, enum: [daily, weekly, monthly, yearly] }
        - name: supervisor
          in: query
          schema: { type: string }
        - name: scope
          in: query
          schema: { type: string, enum: [combined, internal, external] }
      responses:
        '200': { $ref: '#/components/responses/ReportSummaryResponse' }
  /v2/accounts/leadops/reports/technicians/summary/:
    get:
      summary: LeadOps technician drilldown summary
      parameters:
        - name: supervisor
          in: query
          required: true
          schema: { type: string }
        - name: technician
          in: query
          required: true
          schema: { type: string }
        - name: date_from
          in: query
          schema: { type: string, format: date }
        - name: date_to
          in: query
          schema: { type: string, format: date }
        - name: granularity
          in: query
          schema: { type: string, enum: [daily, weekly, monthly, yearly] }
        - name: scope
          in: query
          schema: { type: string, enum: [combined, internal, external] }
      responses:
        '200': { $ref: '#/components/responses/ReportSummaryResponse' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
  /v2/accounts/leadops/reports/overall/summary/:
    get:
      summary: LeadOps overall technician performance summary
      parameters:
        - name: date_from
          in: query
          schema: { type: string, format: date }
        - name: date_to
          in: query
          schema: { type: string, format: date }
        - name: granularity
          in: query
          schema: { type: string, enum: [daily, weekly, monthly, yearly] }
        - name: scope
          in: query
          schema: { type: string, enum: [combined, internal, external] }
      responses:
        '200': { $ref: '#/components/responses/ReportSummaryResponse' }
  /v2/accounts/leadops/reports/teamleaders/list/:
    get:
      summary: LeadOps teamleaders list summary
      parameters:
        - name: date_from
          in: query
          schema: { type: string, format: date }
        - name: date_to
          in: query
          schema: { type: string, format: date }
        - name: granularity
          in: query
          schema: { type: string, enum: [daily, weekly, monthly, yearly] }
        - name: scope
          in: query
          schema: { type: string, enum: [combined, internal, external] }
        - name: page
          in: query
          schema: { type: integer }
        - name: page_size
          in: query
          schema: { type: integer }
        - name: ordering
          in: query
          schema: { type: string }
      responses:
        '200': { $ref: '#/components/responses/LeadOpsTeamleadersListResponse' }
        '400': { $ref: '#/components/responses/BadRequest' }
  /v2/accounts/leadops/reports/technicians/lowest/:
    get:
      summary: LeadOps technicians ranking (lowest to highest)
      parameters:
        - name: date_from
          in: query
          schema: { type: string, format: date }
        - name: date_to
          in: query
          schema: { type: string, format: date }
        - name: scope
          in: query
          schema: { type: string, enum: [combined, internal, external] }
        - name: supervisor
          in: query
          schema: { type: string }
      responses:
        '200': { $ref: '#/components/responses/LeadOpsTechniciansRankingResponse' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '404': { $ref: '#/components/responses/NotFound' }
  /v2/accounts/users/{username}/:
    patch:
      summary: Update user profile (teamleader/admin)
      parameters:
        - name: username
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/UpdateUserProfileRequest' }
      responses:
        '200': { $ref: '#/components/responses/UserResponse' }
        '403': { $ref: '#/components/responses/Forbidden' }

  /v2/cone/cases/info/:
    get:
      summary: Get case info from C1
      parameters:
        - name: key
          in: query
          schema: { type: string }
        - name: value
          in: query
          schema: { type: string }
      responses:
        '200': { $ref: '#/components/responses/CaseInfoResponse' }
  /v2/cone/cases/orders/{pk}/close/:
    post:
      summary: Close service order
      parameters:
        - name: pk
          in: path
          required: true
          schema: { type: string }
      responses:
        '200': { $ref: '#/components/responses/SuccessMessage' }
  /v2/cone/cases/tasks/{pk}/complete/:
    post:
      summary: Complete task
      parameters:
        - name: pk
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CompleteTaskRequest' }
      responses:
        '200': { $ref: '#/components/responses/SuccessMessage' }
        '400': { $ref: '#/components/responses/ValidationErrorResponse' }
        '409': { $ref: '#/components/responses/VlanProvisionConflict' }
        '422': { $ref: '#/components/responses/VlanProvisionValidationError' }
  /v2/cone/cases/tasks/{pk}/v2/complete/:
    post:
      summary: Complete task v2
      parameters:
        - name: pk
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CompleteTaskRequest' }
      responses:
        '200': { $ref: '#/components/responses/SuccessMessage' }
  /v2/cone/cases/tasks/{pk}/v3/complete/:
    post:
      summary: Complete task v3 (requires appointment)
      parameters:
        - name: pk
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CompleteTaskRequest' }
      responses:
        '200': { $ref: '#/components/responses/SuccessMessage' }
        '400': { $ref: '#/components/responses/BadRequest' }
  /v2/cone/cases/tasks/{pk}/signoff/:
    post:
      summary: Signoff task
      parameters:
        - name: pk
          in: path
          required: true
          schema: { type: string }
      responses:
        '200': { $ref: '#/components/responses/SuccessMessage' }
  /v2/cone/cases/:
    get:
      summary: Get cases
      parameters:
        - name: filter
          in: query
          schema: { type: string, enum: [user, all] }
        - name: page
          in: query
          schema: { type: integer }
        - name: page_size
          in: query
          schema: { type: integer }
      responses:
        '200': { $ref: '#/components/responses/CasesResponse' }
  /v2/cone/cases/tasks/:
    get:
      summary: Get user task cases (Redis)
      parameters:
        - name: filter
          in: query
          schema: { type: string }
        - name: username
          in: query
          schema: { type: string }
        - name: page
          in: query
          schema: { type: integer }
        - name: page_size
          in: query
          schema: { type: integer }
      responses:
        '200': { $ref: '#/components/responses/TasksResponse' }
  /v2/cone/cases/assign/:
    post:
      summary: Assign cases to user
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/AssignCasesRequest' }
      responses:
        '200': { $ref: '#/components/responses/AssignCasesResponse' }
  /v2/cone/cases/{case_number}/update/:
    patch:
      summary: Update case info
      parameters:
        - name: case_number
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CaseUpdateRequest' }
      responses:
        '200': { $ref: '#/components/responses/CaseResponse' }
  /v2/cone/cases/upload/:
    post:
      summary: Upload locality cases
      description: Sales/admin/teamleader/technician. Locality is a canonical key; duplicate keys across companies return 400. Use force=true to override existing locality for eligible cases; 409 when override is not allowed.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/UploadCasesRequest' }
      responses:
        '200': { $ref: '#/components/responses/UploadCasesResponse' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '409': { $ref: '#/components/responses/UploadCasesConflict' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /v2/cone/offers/{pk}/get:
    get:
      summary: Get offer info
      parameters:
        - name: pk
          in: path
          required: true
          schema: { type: string }
      responses:
        '200': { $ref: '#/components/responses/OfferResponse' }
  /v2/cone/cases/customer/name/:
    get:
      summary: Get customer name
      responses:
        '200': { $ref: '#/components/responses/CustomerNameResponse' }
  /v2/cone/cases/token/:
    get:
      summary: Get access token
      security: []
      responses:
        '200': { $ref: '#/components/responses/TokenResponse' }
  /v2/cone/cases/tasks/{pk}/assign/:
    patch:
      summary: Assign task to user
      parameters:
        - name: pk
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/AssignTaskRequest' }
      responses:
        '200': { $ref: '#/components/responses/SuccessMessage' }
        '409': { $ref: '#/components/responses/Conflict' }
  /v2/cone/cases/tasks/completed/:
    get:
      summary: Get completed tasks
      responses:
        '200': { $ref: '#/components/responses/TasksResponse' }
  /v2/cone/cases/tasks/refresh/:
    post:
      summary: Refresh user task cases
      responses:
        '200': { $ref: '#/components/responses/SuccessMessage' }
  /v2/cone/cache/status/:
    get:
      summary: Get cache refresh status for user/bucket
      parameters:
        - name: username
          in: query
          required: false
          schema: { type: string }
        - name: bucket
          in: query
          required: false
          schema: { type: string }
      responses:
        '200': { $ref: '#/components/responses/CacheStatusResponse' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
  /v2/cone/cases/tasks/test-upload/:
    post:
      summary: Upload test cases to user (admin only)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/TestCasesUploadRequest' }
          multipart/form-data:
            schema:
              type: object
              properties:
                username: { type: string }
                file: { type: string, format: binary }
      responses:
        '200': { $ref: '#/components/responses/SuccessMessage' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /v2/cone/buckets/:
    get:
      summary: List buckets for user
      responses:
        '200': { $ref: '#/components/responses/BucketsResponse' }
    post:
      summary: Create bucket
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/BucketCreateRequest' }
      responses:
        '201': { $ref: '#/components/responses/BucketResponse' }
  /v2/cone/buckets/refresh/:
    post:
      summary: Refresh bucket task cases
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/BucketRefreshRequest' }
      responses:
        '200': { $ref: '#/components/responses/SuccessMessage' }
        '502': { $ref: '#/components/responses/BadGateway' }
  /v2/cone/buckets/{name}/:
    patch:
      summary: Update bucket
      parameters:
        - name: name
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/BucketUpdateRequest' }
      responses:
        '200': { $ref: '#/components/responses/BucketResponse' }
  /v2/cone/buckets/{name}/delete/:
    delete:
      summary: Delete bucket
      parameters:
        - name: name
          in: path
          required: true
          schema: { type: string }
      responses:
        '200': { $ref: '#/components/responses/SuccessMessage' }
  /v2/cone/cases/assign-by-supervisor/:
    post:
      summary: Assign cases by supervisor
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/AssignCasesBySupervisorRequest' }
      responses:
        '200': { $ref: '#/components/responses/AssignCasesResponse' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /v2/cone/cases/workload/:
    get:
      summary: Workload summary per technician
      parameters:
        - name: supervisor
          in: query
          schema: { type: string }
        - name: date
          in: query
          schema: { type: string, format: date }
      responses:
        '200': { $ref: '#/components/responses/WorkloadResponse' }
  /v2/cone/crm/groups/users/:
    get:
      summary: Get CRM users in group
      parameters:
        - name: referenceCode
          in: query
          schema: { type: string }
      responses:
        '200': { $ref: '#/components/responses/UsersList' }
  /v2/cone/report/task-report/:
    get:
      summary: Monthly task report
      responses:
        '200': { $ref: '#/components/responses/ReportResponse' }
  /v2/cone/cases/assign-one/:
    post:
      summary: Assign case to user
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/AssignOneCaseRequest' }
      responses:
        '200': { $ref: '#/components/responses/SuccessMessage' }

  /v2/servicequality/cases/appointments/sendlink/:
    post:
      summary: Send appointment link
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/SendAppointmentLinkRequest' }
      responses:
        '200': { $ref: '#/components/responses/SuccessMessage' }
  /v2/servicequality/cases/appointments/validate-token/:
    get:
      summary: Validate appointment token
      parameters:
        - name: token
          in: query
          required: true
          schema: { type: string }
        - name: fbid
          in: query
          required: false
          schema: { type: string }
      responses:
        '200': { $ref: '#/components/responses/AppointmentTokenResponse' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /v2/servicequality/cases/appointments/availability/:
    get:
      summary: Get availability slots for a token
      parameters:
        - name: token
          in: query
          required: true
          schema: { type: string }
        - name: date
          in: query
          required: false
          schema: { type: string, format: date }
      responses:
        '200': { $ref: '#/components/responses/AppointmentAvailabilityResponse' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /v2/servicequality/cases/appointments/location/:
    patch:
      summary: Update appointment location (token)
      parameters:
        - name: token
          in: query
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/AppointmentLocationRequest' }
      responses:
        '200': { $ref: '#/components/responses/AppointmentLocationResponse' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /v2/servicequality/cases/appointments/schedule/:
    post:
      summary: Schedule appointment (customer)
      parameters:
        - name: token
          in: query
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ScheduleAppointmentRequest' }
      responses:
        '201': { $ref: '#/components/responses/SuccessMessage' }
        '409': { $ref: '#/components/responses/Conflict' }
  /v2/servicequality/cases/appointments/technician/schedule/:
    post:
      summary: Schedule appointment by technician
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/TechnicianScheduleRequest' }
      responses:
        '201': { $ref: '#/components/responses/AppointmentTechResponse' }
        '409': { $ref: '#/components/responses/Conflict' }
  /v2/servicequality/cases/appointments/technician/reschedule/:
    post:
      summary: Reschedule appointment by technician
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/TechnicianScheduleRequest' }
      responses:
        '201': { $ref: '#/components/responses/AppointmentTechResponse' }
  /v2/servicequality/cases/appointments/technician/depart/:
    post:
      summary: Mark appointment departed
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/TechnicianDepartArriveRequest' }
      responses:
        '200': { $ref: '#/components/responses/AppointmentTimeResponse' }
  /v2/servicequality/cases/appointments/technician/arrive/:
    post:
      summary: Mark appointment arrived
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/TechnicianDepartArriveRequest' }
      responses:
        '200': { $ref: '#/components/responses/AppointmentTimeResponse' }
  /v2/servicequality/cases/appointments/technician/confirm/:
    post:
      summary: Confirm appointment by technician
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ConfirmAppointmentRequest' }
      responses:
        '200': { $ref: '#/components/responses/ConfirmAppointmentResponse' }
  /v2/servicequality/cases/appointments/technician/cancel/:
    post:
      summary: Cancel appointment by technician
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CancelAppointmentRequest' }
      responses:
        '200': { $ref: '#/components/responses/SuccessMessage' }
  /v2/servicequality/cases/appointments/reschedule/:
    post:
      summary: Reschedule appointment (customer)
      parameters:
        - name: token
          in: query
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/RescheduleAppointmentRequest' }
      responses:
        '200': { $ref: '#/components/responses/SuccessMessage' }
        '409': { $ref: '#/components/responses/Conflict' }
  /v2/servicequality/cases/appointments/task/complete/:
    post:
      summary: Complete task (appointment flow)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CompleteAppointmentTaskRequest' }
      responses:
        '200': { $ref: '#/components/responses/SuccessMessage' }
  /v2/servicequality/cases/appointments/status/:
    post:
      summary: Set appointment ongoing
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/AppointmentStatusRequest' }
      responses:
        '200': { $ref: '#/components/responses/SuccessMessage' }
  /v2/servicequality/cases/appointments/feedback/submit/:
    post:
      summary: Submit feedback
      parameters:
        - name: token
          in: query
          required: true
          schema: { type: string }
        - name: fbid
          in: query
          required: false
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/FeedbackRequest' }
      responses:
        '201': { $ref: '#/components/responses/SuccessMessage' }
        '409': { $ref: '#/components/responses/Conflict' }
  /v2/servicequality/cases/appointments/:
    get:
      summary: Get appointments with feedbacks
      description: |
        Examples:
        - /v2/servicequality/cases/appointments/?feedback_type=technician&has_technician_feedback=true&page=1&page_size=10
        - /v2/servicequality/cases/appointments/?feedback_type=service&has_service_feedback=true&page=1&page_size=10
      parameters:
        - name: supervisor
          in: query
          schema: { type: string }
        - name: technician_username
          in: query
          schema: { type: string }
        - name: date_from
          in: query
          schema: { type: string, format: date }
        - name: date_to
          in: query
          schema: { type: string, format: date }
        - name: feedback_type
          in: query
          schema: { type: string, enum: [technician, service] }
          example: technician
        - name: has_technician_feedback
          in: query
          schema: { type: boolean }
          example: true
        - name: has_service_feedback
          in: query
          schema: { type: boolean }
          example: false
        - name: page
          in: query
          schema: { type: integer }
        - name: page_size
          in: query
          schema: { type: integer }
      responses:
        '200': { $ref: '#/components/responses/AppointmentsList' }
  /v2/servicequality/cases/appointments/summary/:
    get:
      summary: Appointment summary
      parameters:
        - name: date
          in: query
          schema: { type: string, format: date }
        - name: supervisor
          in: query
          schema: { type: string }
        - name: technician
          in: query
          schema: { type: string }
      responses:
        '200': { $ref: '#/components/responses/AppointmentSummaryResponse' }
  /v2/servicequality/cases/ratings/:
    get:
      summary: Get ratings
      parameters:
        - name: supervisor
          in: query
          schema: { type: string }
        - name: technician
          in: query
          schema: { type: string }
        - name: date_from
          in: query
          schema: { type: string, format: date }
        - name: date_to
          in: query
          schema: { type: string, format: date }
        - name: page
          in: query
          schema: { type: integer }
        - name: page_size
          in: query
          schema: { type: integer }
      responses:
        '200': { $ref: '#/components/responses/RatingsList' }
  /v2/servicequality/reports/summary/:
    get:
      summary: Service quality summary report
      description: |
        Example:
        - /v2/servicequality/reports/summary/?feedback_type=technician&window=rolling_12_months
      parameters:
        - name: feedback_type
          in: query
          required: true
          schema: { type: string, enum: [technician, service] }
        - name: window
          in: query
          required: false
          schema: { type: string, enum: [rolling_12_months] }
        - name: supervisor
          in: query
          required: false
          schema: { type: string }
        - name: technician_username
          in: query
          required: false
          schema: { type: string }
        - name: date_from
          in: query
          required: false
          schema: { type: string, format: date }
        - name: date_to
          in: query
          required: false
          schema: { type: string, format: date }
      responses:
        '200': { $ref: '#/components/responses/ServiceQualitySummaryResponse' }
  /v2/servicequality/reports/lowest-rated/:
    get:
      summary: Service quality lowest-rated listing
      description: |
        Example:
        - /v2/servicequality/reports/lowest-rated/?feedback_type=technician&window=rolling_12_months&page=1&page_size=20
      parameters:
        - name: feedback_type
          in: query
          required: true
          schema: { type: string, enum: [technician, service] }
        - name: window
          in: query
          required: false
          schema: { type: string, enum: [rolling_12_months] }
        - name: supervisor
          in: query
          required: false
          schema: { type: string }
        - name: technician_username
          in: query
          required: false
          schema: { type: string }
        - name: date_from
          in: query
          required: false
          schema: { type: string, format: date }
        - name: date_to
          in: query
          required: false
          schema: { type: string, format: date }
        - name: include_preview
          in: query
          required: false
          schema: { type: boolean }
        - name: page
          in: query
          schema: { type: integer }
        - name: page_size
          in: query
          schema: { type: integer }
      responses:
        '200': { $ref: '#/components/responses/ServiceQualityLowestRatedResponse' }

  /v2/networkaudit/copper-theft/reports/:
    get:
      summary: Get copper theft reports
      responses:
        '200': { $ref: '#/components/responses/GenericList' }
  /v2/star/reports/customers-summary:
    get:
      summary: Customers summary by city/locality/node
      responses:
        '200':
          description: Summary payload
          content:
            application/json:
              schema: { $ref: '#/components/responses/GenericItem' }
              example:
                report: customers_summary
                total_rows_scanned: 20533
                matched_rows: 20181
                node_ids_used: 590
                cities:
                  - city: Mogoditshane
                    customers: 1085
                    speeds:
                      - FTOWN_100M: 23
                      - FTOWN_10M: 54
                    suspended:
                      - FTOWN_100M: 3
                      - FTOWN_10M: 2
                    nodes_used: 6
                    node_ids: [67, 318, 535, 657, 1810, 2908]
                localities:
                  - locality: Rlu 7
                    customers: 123
                    speeds:
                      - FTOWN_100M: 5
                      - FTOWN_10M: 7
                    suspended:
                      - FTOWN_100M: 1
                    nodes_used: 2
                    node_ids: [1854, 1855]
                nodes:
                  - node_id: 1854
                    node_name: OLT-RLU-7
                    customers: 321
                    speeds:
                      - FTOWN_100M: 12
                      - FTOWN_10M: 19
                    suspended:
                      - FTOWN_10M: 2
  /v2/compliance/reports/:
    post:
      summary: Build compliance XML reports from an uploaded spreadsheet
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
      parameters:
        - name: sheet_name
          in: query
          schema: { type: string }
        - name: unique_by
          in: query
          schema: { type: string }
        - name: pretty
          in: query
          schema: { type: boolean }
      responses:
        '200':
          description: ZIP file containing XML reports
          content:
            application/zip:
              schema:
                type: string
                format: binary
  /v2/compliance/reports/async/:
    post:
      summary: Enqueue compliance report generation
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
      parameters:
        - name: sheet_name
          in: query
          schema: { type: string }
        - name: unique_by
          in: query
          schema: { type: string }
        - name: pretty
          in: query
          schema: { type: boolean }
      responses:
        '202':
          description: Job accepted
          content:
            application/json:
              schema: { $ref: '#/components/responses/GenericItem' }
  /v2/compliance/reports/async/{job_id}/:
    get:
      summary: Get compliance report job status
      parameters:
        - name: job_id
          in: path
          required: true
          schema: { type: string }
      responses:
        '200': { $ref: '#/components/responses/GenericItem' }
  /v2/compliance/reports/async/{job_id}/download/:
    get:
      summary: Download completed compliance report ZIP
      parameters:
        - name: job_id
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: ZIP file containing XML reports
          content:
            application/zip:
              schema:
                type: string
                format: binary
  /v2/networkaudit/copper-theft/incidents/:
    get:
      summary: List incidents
      responses:
        '200': { $ref: '#/components/responses/GenericList' }
    post:
      summary: Create incident
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/IncidentRequest' }
      responses:
        '201': { $ref: '#/components/responses/GenericItem' }
  /v2/networkaudit/copper-theft/incidents/{pk}/:
    get:
      summary: Get incident
      parameters:
        - name: pk
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200': { $ref: '#/components/responses/GenericItem' }
    patch:
      summary: Update incident
      parameters:
        - name: pk
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/IncidentRequest' }
      responses:
        '200': { $ref: '#/components/responses/GenericItem' }
    delete:
      summary: Delete incident
      parameters:
        - name: pk
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '204': { description: Deleted }
  /v2/networkaudit/copper-theft/incident/{incident_id}/affected-customers/:
    get:
      summary: List affected customers
      parameters:
        - name: incident_id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200': { $ref: '#/components/responses/GenericList' }
    post:
      summary: Create affected customer
      parameters:
        - name: incident_id
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/AffectedCustomerRequest' }
      responses:
        '201': { $ref: '#/components/responses/GenericItem' }
  /v2/networkaudit/copper-theft/affected-customers/{pk}/:
    get:
      summary: Get affected customer
      parameters:
        - name: pk
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200': { $ref: '#/components/responses/GenericItem' }
    patch:
      summary: Update affected customer
      parameters:
        - name: pk
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/AffectedCustomerRequest' }
      responses:
        '200': { $ref: '#/components/responses/GenericItem' }
    delete:
      summary: Delete affected customer
      parameters:
        - name: pk
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '204': { description: Deleted }
  /v2/networkaudit/copper-theft/affected-customers/delete-all/{incident_id}/:
    delete:
      summary: Delete all affected customers
      parameters:
        - name: incident_id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200': { $ref: '#/components/responses/SuccessMessage' }
  /v2/networkaudit/copper-theft/incident/{incident_id}/comments/:
    get:
      summary: List comments
      parameters:
        - name: incident_id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200': { $ref: '#/components/responses/GenericList' }
    post:
      summary: Create comment
      parameters:
        - name: incident_id
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CommentRequest' }
      responses:
        '201': { $ref: '#/components/responses/GenericItem' }
  /v2/networkaudit/copper-theft/comments/{pk}/:
    get:
      summary: Get comment
      parameters:
        - name: pk
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200': { $ref: '#/components/responses/GenericItem' }
    patch:
      summary: Update comment
      parameters:
        - name: pk
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CommentRequest' }
      responses:
        '200': { $ref: '#/components/responses/GenericItem' }
    delete:
      summary: Delete comment
      parameters:
        - name: pk
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '204': { description: Deleted }
  /v2/networkaudit/copper-theft/{content_type}/{object_id}/comments/:
    get:
      summary: List comments by model
      parameters:
        - name: content_type
          in: path
          required: true
          schema: { type: string }
        - name: object_id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200': { $ref: '#/components/responses/GenericList' }
  /v2/networkaudit/copper-theft/prices/:
    get:
      summary: List prices
      responses:
        '200': { $ref: '#/components/responses/GenericList' }
  /v2/networkaudit/copper-theft/prices/{pk}/:
    get:
      summary: Get price
      parameters:
        - name: pk
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200': { $ref: '#/components/responses/GenericItem' }
    patch:
      summary: Update price
      parameters:
        - name: pk
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/PriceRequest' }
      responses:
        '200': { $ref: '#/components/responses/GenericItem' }
  /v2/networkaudit/subscriber/upload/:
    post:
      summary: Upload customer with subscriber
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/SubscriberUploadRequest' }
      responses:
        '200': { $ref: '#/components/responses/SuccessMessage' }
  /v2/networkaudit/localities/:
    get:
      summary: Get localities
      description: Authenticated users can read. Supports case-insensitive partial matching for vendor/technology and q.
      parameters:
        - name: vendor
          in: query
          schema: { type: string }
          description: Case-insensitive partial match on node vendor.
        - name: technology
          in: query
          schema: { type: string }
          description: Case-insensitive partial match on node technology.
        - name: q
          in: query
          schema: { type: string }
          description: Case-insensitive partial match on locality name, key, or location.
      responses:
        '200': { $ref: '#/components/responses/LocalitiesResponse' }
        '403': { $ref: '#/components/responses/Forbidden' }
    post:
      summary: Create locality
      description: Admin/Manager/Teamleader can create localities.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/LocalityCreateRequest' }
      responses:
        '201': { $ref: '#/components/responses/LocalityResponse' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /v2/networkaudit/localities/{id}/:
    get:
      summary: Get locality
      description: Authenticated users can read localities.
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: integer }
      responses:
        '200': { $ref: '#/components/responses/LocalityResponse' }
        '404': { $ref: '#/components/responses/NotFound' }
    patch:
      summary: Update locality
      description: Admin/Manager/Teamleader can update localities. Locality key is immutable.
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: integer }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/LocalityUpdateRequest' }
      responses:
        '200': { $ref: '#/components/responses/LocalityResponse' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
    delete:
      summary: Delete locality
      description: Admin/Manager/Teamleader can delete localities if not referenced.
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: integer }
      responses:
        '200': { $ref: '#/components/responses/SuccessMessage' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
  /v2/networkaudit/nodes/:
    get:
      summary: Get nodes
      description: Admin/Manager/Teamleader can list nodes. q is case-insensitive partial match on name/ip/city and exact id when numeric.
      parameters:
        - name: q
          in: query
          schema: { type: string }
      responses:
        '200': { $ref: '#/components/responses/NodesResponse' }
        '403': { $ref: '#/components/responses/Forbidden' }
    post:
      summary: Create node
      description: Admin/Manager can create nodes.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/NodeCreateRequest' }
      responses:
        '201': { $ref: '#/components/responses/NodeResponse' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '409': { $ref: '#/components/responses/Conflict' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /v2/networkaudit/nodes/{id}/:
    get:
      summary: Get node
      description: Admin/Manager/Teamleader can retrieve nodes.
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: integer }
      responses:
        '200': { $ref: '#/components/responses/NodeResponse' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
    patch:
      summary: Update node
      description: Admin/Manager can update nodes.
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: integer }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/NodeUpdateRequest' }
      responses:
        '200': { $ref: '#/components/responses/NodeResponse' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
    delete:
      summary: Delete node
      description: Admin/Manager can delete nodes if not referenced.
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: integer }
      responses:
        '200': { $ref: '#/components/responses/SuccessMessage' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
  /v2/networkaudit/regions-with-locations/:
    get:
      summary: Regions with locations
      responses:
        '200': { $ref: '#/components/responses/GenericList' }
  /v2/networkaudit/locations/report-technician-location/:
    post:
      summary: Report technician location
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/TechnicianLocationRequest' }
      responses:
        '200': { $ref: '#/components/responses/SuccessMessage' }
  /v2/networkaudit/locations/technician-locations/latest/:
    get:
      summary: Get latest technician locations
      responses:
        '200': { $ref: '#/components/responses/GenericList' }

  /v2/star/olt/ont/link:
    get:
      summary: Check ONT link to OLT
      parameters:
        - name: ont
          in: query
          schema: { type: string }
      responses:
        '200': { $ref: '#/components/responses/GenericItem' }
  /v2/star/service/provisioning:
    post:
      summary: Provision service
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ProvisioningRequest' }
      responses:
        '200': { $ref: '#/components/responses/SuccessMessage' }
  /v2/star/service/provisioning/change-cpe/:
    post:
      summary: Change customer CPE
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ChangeCpeRequest' }
      responses:
        '200': { $ref: '#/components/responses/SuccessMessage' }
  /v2/star/service/provisioning_v2:
    post:
      summary: Provision service v2
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ProvisioningRequest' }
      responses:
        '200': { $ref: '#/components/responses/SuccessMessage' }
  /v2/star/provision/{service_id}:
    post:
      summary: Provision service by id
      parameters:
        - name: service_id
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ProvisioningRequest' }
      responses:
        '200': { $ref: '#/components/responses/SuccessMessage' }
  /v2/star/olt/ont/delete/:
    post:
      summary: Delete ONT
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/OntDeleteRequest' }
      responses:
        '200': { $ref: '#/components/responses/SuccessMessage' }
  /v2/star/olt/ont/unprovisioned/:
    get:
      summary: Get unprovisioned ONTs
      responses:
        '200': { $ref: '#/components/responses/GenericList' }
  /v2/star/olt/vlans/available/{node_name}:
    get:
      summary: Get available VLANs
      parameters:
        - name: node_name
          in: path
          required: true
          schema: { type: string }
      responses:
        '200': { $ref: '#/components/responses/GenericList' }
  /v2/star/olt/vlans/unused/:
    get:
      summary: Get unused VLANs
      responses:
        '200': { $ref: '#/components/responses/GenericList' }
  /v2/star/olt/vlans/unused/delete/:
    post:
      summary: Delete unused VLANs
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/DeleteVlansRequest' }
      responses:
        '200': { $ref: '#/components/responses/SuccessMessage' }
  /v2/star/service/provisioning/{metro}/{node}/{type}:
    post:
      summary: Provision VLANs on metro/node
      parameters:
        - name: metro
          in: path
          required: true
          schema: { type: string }
        - name: node
          in: path
          required: true
          schema: { type: string }
        - name: type
          in: path
          required: true
          schema: { type: string }
      responses:
        '200': { $ref: '#/components/responses/SuccessMessage' }
  /v2/star/subscribers/search:
    get:
      summary: Search nodes and VLANs
      parameters:
        - name: q
          in: query
          schema: { type: string }
      responses:
        '200': { $ref: '#/components/responses/StarSubscribersSearchResponse' }
  /v2/star/vlans/reserve/:
    post:
      summary: Reserve VLAN (20-minute TTL)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/VlanReserveRequest' }
      responses:
        '200': { $ref: '#/components/responses/VlanReserveResponse' }
        '409': { $ref: '#/components/responses/VlanReserveConflict' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /v2/star/vlans/release/:
    post:
      summary: Release VLAN reservation
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/VlanReleaseRequest' }
      responses:
        '200': { $ref: '#/components/responses/VlanReleaseResponse' }
        '409': { $ref: '#/components/responses/VlanReleaseConflict' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /v2/star/vlans/reserved:
    get:
      summary: List reserved VLANs by case or user
      parameters:
        - name: case_number
          in: query
          schema: { type: string }
        - name: username
          in: query
          schema: { type: string }
      responses:
        '200': { $ref: '#/components/responses/VlanReservedResponse' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /v2/star/subscribers/lookup:
    get:
      summary: Subscriber lookup
      parameters:
        - name: subscriber_number
          in: query
          schema: { type: string }
      responses:
        '200': { $ref: '#/components/responses/GenericItem' }
  /v2/star/subscribers/health:
    get:
      summary: Subscriber health
      parameters:
        - name: subscriber_number
          in: query
          schema: { type: string }
      responses:
        '200': { $ref: '#/components/responses/GenericItem' }

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  responses:
    SuccessMessage:
      description: Success
      content:
        application/json:
          schema: { $ref: '#/components/schemas/SuccessMessage' }
    BadRequest:
      description: Bad request
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ErrorResponse' }
    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ErrorResponse' }
    Forbidden:
      description: Forbidden
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ErrorResponse' }
    NotFound:
      description: Not found
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ErrorResponse' }
    Conflict:
      description: Conflict
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ErrorResponse' }
    BadGateway:
      description: Bad gateway
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ErrorResponse' }
    UsersList:
      description: Users list
      content:
        application/json:
          schema: { $ref: '#/components/schemas/UsersList' }
    AdminUsersList:
      description: Admin users list
      content:
        application/json:
          schema: { $ref: '#/components/schemas/AdminUsersList' }
    AdminUserDetail:
      description: Admin user detail
      content:
        application/json:
          schema: { $ref: '#/components/schemas/AdminUserDetail' }
    TeamleaderBucketsResponse:
      description: Teamleader buckets response
      content:
        application/json:
          schema: { $ref: '#/components/schemas/TeamleaderBucketsResponse' }
    CompaniesList:
      description: Companies list
      content:
        application/json:
          schema: { $ref: '#/components/schemas/CompaniesList' }
    CompanyResponse:
      description: Company response
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Company' }
    CasesResponse:
      description: Cases response
      content:
        application/json:
          schema: { $ref: '#/components/schemas/CasesResponse' }
    CaseResponse:
      description: Case response
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Case' }
    CaseInfoResponse:
      description: Case info response
      content:
        application/json:
          schema: { $ref: '#/components/schemas/CaseInfoResponse' }
    OfferResponse:
      description: Offer response
      content:
        application/json:
          schema: { $ref: '#/components/schemas/OfferResponse' }
    CustomerNameResponse:
      description: Customer name response
      content:
        application/json:
          schema: { $ref: '#/components/schemas/CustomerNameResponse' }
    TokenResponse:
      description: Token response
      content:
        application/json:
          schema: { $ref: '#/components/schemas/TokenResponse' }
    AssignCasesResponse:
      description: Assign cases response
      content:
        application/json:
          schema: { $ref: '#/components/schemas/AssignCasesResponse' }
    BucketsResponse:
      description: Buckets response
      content:
        application/json:
          schema: { $ref: '#/components/schemas/BucketsResponse' }
    BucketResponse:
      description: Bucket response
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Bucket' }
    UploadCasesResponse:
      description: Upload cases response
      content:
        application/json:
          schema: { $ref: '#/components/schemas/UploadCasesResponse' }
    VlanReserveResponse:
      description: VLAN reserved
      content:
        application/json:
          schema: { $ref: '#/components/schemas/VlanReserveResponse' }
    VlanReserveConflict:
      description: VLAN already reserved
      content:
        application/json:
          schema: { $ref: '#/components/schemas/VlanReserveResponse' }
    VlanReleaseResponse:
      description: VLAN released
      content:
        application/json:
          schema: { $ref: '#/components/schemas/VlanReleaseResponse' }
    VlanReleaseConflict:
      description: VLAN release conflict
      content:
        application/json:
          schema: { $ref: '#/components/schemas/VlanReleaseResponse' }
    VlanReservedResponse:
      description: Reserved VLANs list
      content:
        application/json:
          schema: { $ref: '#/components/schemas/VlanReservedResponse' }
    VlanProvisionConflict:
      description: VLAN provisioning conflict
      content:
        application/json:
          schema: { $ref: '#/components/schemas/VlanProvisioningErrorResponse' }
    VlanProvisionValidationError:
      description: VLAN provisioning validation error
      content:
        application/json:
          schema: { $ref: '#/components/schemas/VlanProvisioningErrorResponse' }
    ValidationErrorResponse:
      description: Validation error
      content:
        application/json:
          schema:
            type: object
            properties:
              success: { type: boolean }
              message: { type: string }
              errors:
                type: object
                additionalProperties: true
    StarSubscribersSearchResponse:
      description: Subscriber search response with reserved VLANs
      content:
        application/json:
          schema: { $ref: '#/components/schemas/StarSubscribersSearchResponse' }
    UploadCasesConflict:
      description: Upload cases conflict
      content:
        application/json:
          schema: { $ref: '#/components/schemas/UploadCasesConflictResponse' }
    TeamleaderTechniciansResponse:
      description: Teamleader technicians response
      content:
        application/json:
          schema: { $ref: '#/components/schemas/TeamleaderTechniciansResponse' }
    ReportResponse:
      description: Report response
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ReportResponse' }
    ReportSummaryResponse:
      description: Report summary response
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ReportSummaryResponse' }
    LeadOpsTeamleadersListResponse:
      description: LeadOps teamleaders list response
      content:
        application/json:
          schema: { $ref: '#/components/schemas/LeadOpsTeamleadersListResponse' }
    LeadOpsTechniciansRankingResponse:
      description: LeadOps technicians ranking response
      content:
        application/json:
          schema: { $ref: '#/components/schemas/LeadOpsTechniciansRankingResponse' }
    LowestTechnicianResponse:
      description: Lowest technician response
      content:
        application/json:
          schema: { $ref: '#/components/schemas/LowestTechnicianResponse' }
    TasksResponse:
      description: Tasks response
      content:
        application/json:
          schema: { $ref: '#/components/schemas/TasksResponse' }
    CacheStatusResponse:
      description: Cache status response
      content:
        application/json:
          schema: { $ref: '#/components/schemas/CacheStatusResponse' }
    WorkloadResponse:
      description: Workload response
      content:
        application/json:
          schema: { $ref: '#/components/schemas/WorkloadResponse' }
    AppointmentSummaryResponse:
      description: Appointment summary response
      content:
        application/json:
          schema: { $ref: '#/components/schemas/AppointmentSummaryResponse' }
    UserResponse:
      description: User response
      content:
        application/json:
          schema: { $ref: '#/components/schemas/UserResponse' }
    AppointmentTokenResponse:
      description: Appointment token response
      content:
        application/json:
          schema: { $ref: '#/components/schemas/AppointmentTokenResponse' }
    AppointmentAvailabilityResponse:
      description: Appointment availability response
      content:
        application/json:
          schema: { $ref: '#/components/schemas/AppointmentAvailabilityResponse' }
    AppointmentLocationResponse:
      description: Appointment location response
      content:
        application/json:
          schema: { $ref: '#/components/schemas/AppointmentLocationResponse' }
    AppointmentTechResponse:
      description: Technician appointment response
      content:
        application/json:
          schema: { $ref: '#/components/schemas/AppointmentTechResponse' }
    AppointmentTimeResponse:
      description: Appointment time response
      content:
        application/json:
          schema: { $ref: '#/components/schemas/AppointmentTimeResponse' }
    ConfirmAppointmentResponse:
      description: Confirm appointment response
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ConfirmAppointmentResponse' }
    AppointmentsList:
      description: Appointments list
      content:
        application/json:
          schema: { $ref: '#/components/schemas/AppointmentsList' }
    RatingsList:
      description: Ratings list
      content:
        application/json:
          schema: { $ref: '#/components/schemas/RatingsList' }
    ServiceQualitySummaryResponse:
      description: Service quality summary response
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ServiceQualitySummaryResponse' }
    ServiceQualityLowestRatedResponse:
      description: Service quality lowest-rated response
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ServiceQualityLowestRatedResponse' }
    GenericList:
      description: Generic list
      content:
        application/json:
          schema: { $ref: '#/components/schemas/GenericList' }
    GenericItem:
      description: Generic item
      content:
        application/json:
          schema: { $ref: '#/components/schemas/GenericItem' }
    LocalitiesResponse:
      description: Localities response
      content:
        application/json:
          schema: { $ref: '#/components/schemas/LocalitiesResponse' }
    LocalityResponse:
      description: Locality response
      content:
        application/json:
          schema: { $ref: '#/components/schemas/LocalityResponse' }
    NodesResponse:
      description: Nodes response
      content:
        application/json:
          schema: { $ref: '#/components/schemas/NodesResponse' }
    NodeResponse:
      description: Node response
      content:
        application/json:
          schema: { $ref: '#/components/schemas/NodeResponse' }

  schemas:
    ErrorResponse:
      type: object
      properties:
        success: { type: boolean }
        message: { type: string }
        error: { type: string }
        reason: { type: string }
        actor: { $ref: '#/components/schemas/Actor' }
        details:
          type: object
          additionalProperties: true
      example:
        success: false
        message: invalid_bucket_id
        reason: invalid_bucket_id
    SuccessMessage:
      type: object
      properties:
        success: { type: boolean }
        message: { type: string }
    LoginRequest:
      type: object
      properties:
        username: { type: string }
        password: { type: string }
      required: [username, password]
    LoginResponse:
      type: object
      properties:
        success: { type: boolean }
        access: { type: string }
        refresh: { type: string }
        user: { $ref: '#/components/schemas/User' }
    CreateUserRequest:
      type: object
      properties:
        username: { type: string }
        password: { type: string }
        first_name: { type: string }
        last_name: { type: string }
        email: { type: string }
        group: { type: string }
        cone_username: { type: string }
        company_id: { type: integer }
        bucket_id: { type: string }
    UpdateUserProfileRequest:
      type: object
      properties:
        first_name: { type: string }
        last_name: { type: string }
        email: { type: string, format: email }
        contact: { type: string, nullable: true }
        contact2: { type: string, nullable: true }
        is_active: { type: boolean }
        cone_username: { type: string }
        company_id: { type: integer }
        bucket_id: { type: string }
        supervisor_username: { type: string }
        group: { type: string }
        groups:
          type: array
          items: { type: string }
    ChangePasswordRequest:
      type: object
      properties:
        old_password: { type: string }
        new_password: { type: string }
    ResetPasswordRequest:
      type: object
      properties:
        username: { type: string }
        new_password: { type: string }
    ForgotPasswordRequest:
      type: object
      properties:
        username: { type: string }
        email: { type: string }
    ExpoTokenRequest:
      type: object
      properties:
        expo_token: { type: string }
      required: [expo_token]
    CompanyCreateRequest:
      type: object
      properties:
        name: { type: string }
        is_active: { type: boolean }
      required: [name]
    CompanyUpdateRequest:
      type: object
      properties:
        name: { type: string }
        is_active: { type: boolean }
    AssignTechnicianRequest:
      type: object
      properties:
        technician_username: { type: string }
        supervisor: { type: string, description: "Required for admin requests." }
        bucket_name: { type: string }
      required: [technician_username]
    UnassignTechnicianRequest:
      type: object
      properties:
        technician: { type: string }
    AssignCasesRequest:
      type: object
      properties:
        assigned_to: { type: string }
        cases: { type: array, items: { type: string } }
      required: [assigned_to, cases]
    AssignCasesBySupervisorRequest:
      type: object
      properties:
        assigned_to: { type: string }
        cases: { type: array, items: { type: string } }
    AssignOneCaseRequest:
      type: object
      properties:
        assigned_to: { type: string }
        case_number: { type: string }
    AssignTaskRequest:
      type: object
      properties:
        assign_to: { type: string }
        task_instance_id: { type: string }
        assigned_group_queue_id: { type: string }
        reference_code: { type: string }
        case_number: { type: string }
    CaseUpdateRequest:
      type: object
      additionalProperties: true
    UploadCasesRequest:
      type: object
      properties:
        cases: { type: array, items: { type: string } }
        locality:
          type: string
          description: Canonical locality key used to resolve provisioning context; duplicate keys across companies return 400.
        force:
          type: boolean
          description: When true, overrides existing locality if the case is not provisioned/closed.
      example:
        locality: gabs_east_3
        force: true
        cases: ["1805745", "1809807"]
    CompleteTaskRequest:
      type: object
      additionalProperties: true
      properties:
        task_instance_id: { type: string }
        reference_code: { type: string }
        when_created: { type: string }
        user_updated: { type: string }
        task_complete_code_string: { type: string }
        case:
          type: object
          properties:
            case_number: { type: string }
            case_id: { type: string }
            customer_id: { type: string }
            description: { type: string }
        knowledge_capture:
          $ref: '#/components/schemas/KnowledgeCaptureRequest'
        service:
          type: object
          description: Provisioning payload. VLAN for Radio or FTTx Huawei must be provided via `service.misc.vlan` (integer). If present, `service.service_vlan` may be a prefixed string (e.g., H-123/R-123) indicating assigned VLAN.
          properties:
            service_vlan:
              type: string
            vlan:
              type: integer
            reserved_vlan:
              type: integer
            misc:
              type: object
              properties:
                vlan:
                  type: integer
                reserved_vlan:
                  type: integer
      required:
        - task_instance_id
        - reference_code
        - when_created
        - user_updated
        - task_complete_code_string
        - case
        - service
    KnowledgeCaptureRequest:
      type: object
      properties:
        fault_work_done: { type: string }
        evidence_images:
          type: array
          items:
            oneOf:
              - type: object
                properties:
                  media_id: { type: integer }
                required: [media_id]
              - type: object
                properties:
                  external_uri: { type: string }
                  external_uri_only: { type: boolean }
              - type: string
        latitude: { type: number }
        longitude: { type: number }
        captured_at:
          type: string
          format: date-time
      additionalProperties: true
    KnowledgeCaptureMediaUploadRequest:
      type: object
      properties:
        file: { type: string, format: binary }
        slot: { type: integer }
        label: { type: string }
        captured_at: { type: string, format: date-time }
        timezone: { type: string }
        gps_lat: { type: number }
        gps_lon: { type: number }
        location_status: { type: string }
        location_missing_reason: { type: string }
      required: [file]
    KnowledgeCaptureMediaUploadResponse:
      type: object
      properties:
        success: { type: boolean }
        message: { type: string }
        media_id: { type: integer }
        file_url: { type: string, nullable: true }
        task_instance_id: { type: string }
        case_number: { type: string }
    BucketCreateRequest:
      type: object
      properties:
        name: { type: string }
        group_queue_id: { type: string }
      required: [name]
    BucketUpdateRequest:
      type: object
      properties:
        name: { type: string }
        group_queue_id: { type: string }
    BucketRefreshRequest:
      type: object
      properties:
        name: { type: string }
      required: [name]
    TestCasesUploadRequest:
      type: object
      properties:
        username: { type: string }
        cases:
          type: array
          items: { type: object }
      required: [username, cases]
    SendAppointmentLinkRequest:
      type: object
      properties:
        reference_code: { type: string }
        task_instance_id: { type: string }
        when_created: { type: string }
        user_updated: { type: string }
        routing_reference_code: { type: string }
        contact: { type: string }
        case: { type: object }
      required: [reference_code]
    ScheduleAppointmentRequest:
      type: object
      properties:
        date: { type: string, description: "DD-MM-YYYY" }
        time: { type: string, description: "HH:MM:SS" }
        latitude: { type: number }
        longitude: { type: number }
        estimated_duration_minutes: { type: integer }
      required: [date, time, latitude, longitude]
    RescheduleAppointmentRequest:
      allOf:
        - $ref: '#/components/schemas/ScheduleAppointmentRequest'
        - type: object
          properties:
            reason: { type: string }
    TechnicianScheduleRequest:
      type: object
      properties:
        task_number: { type: string }
        reference_code: { type: string }
        date: { type: string }
        time: { type: string }
        contact: { type: string }
        latitude: { type: number }
        longitude: { type: number }
        estimated_duration_minutes: { type: integer }
        reason: { type: string }
      required: [date, time]
    TechnicianDepartArriveRequest:
      type: object
      properties:
        task_number: { type: string }
        reference_code: { type: string }
        departed_at: { type: string, format: date-time }
        arrived_at: { type: string, format: date-time }
    ConfirmAppointmentRequest:
      type: object
      properties:
        task_number: { type: string }
        reference_code: { type: string }
        confirmed: { type: boolean }
        estimated_duration_minutes: { type: integer }
      required: [confirmed]
    CancelAppointmentRequest:
      type: object
      properties:
        task_number: { type: string }
        reference_code: { type: string }
        reason: { type: string }
    CompleteAppointmentTaskRequest:
      type: object
      additionalProperties: true
    AppointmentStatusRequest:
      type: object
      properties:
        task_number: { type: string }
    AppointmentLocationRequest:
      type: object
      properties:
        latitude: { type: number }
        longitude: { type: number }
        address_label: { type: string }
      required: [latitude, longitude]
    TechnicianFeedbackRequest:
      type: object
      properties:
        customer_satisfaction: { type: integer, minimum: 1, maximum: 5 }
        customer_effort_score: { type: integer, minimum: 1, maximum: 7 }
        contractor_identified: { type: string, enum: [Yes, No] }
        branded_clothing: { type: string, enum: [Yes, No] }
        speedtest_conducted: { type: string, enum: [Yes, No] }
        extended: { type: string }
      required: [customer_satisfaction, customer_effort_score]
    ServiceFeedbackRequest:
      type: object
      properties:
        net_promoter_score: { type: integer, minimum: 1, maximum: 10 }
        service_rating: { type: integer, minimum: 1, maximum: 5 }
        service_feedback: { type: string }
      required: [net_promoter_score, service_rating]
    FeedbackRequest:
      oneOf:
        - $ref: '#/components/schemas/TechnicianFeedbackRequest'
        - $ref: '#/components/schemas/ServiceFeedbackRequest'
    IncidentRequest:
      type: object
      additionalProperties: true
    AffectedCustomerRequest:
      type: object
      additionalProperties: true
    CommentRequest:
      type: object
      additionalProperties: true
    PriceRequest:
      type: object
      additionalProperties: true
    SubscriberUploadRequest:
      type: object
      additionalProperties: true
    TechnicianLocationRequest:
      type: object
      additionalProperties: true
    ProvisioningRequest:
      type: object
      additionalProperties: true
    ChangeCpeRequest:
      type: object
      additionalProperties: true
    OntDeleteRequest:
      type: object
      additionalProperties: true
    DeleteVlansRequest:
      type: object
      additionalProperties: true
    VlanReserveRequest:
      type: object
      properties:
        vlan: { type: integer }
        node_id: { type: string }
        case_number: { type: string }
      required: [vlan, node_id, case_number]
    VlanReleaseRequest:
      type: object
      properties:
        vlan: { type: integer }
        node_id: { type: string }
        case_number: { type: string }
      required: [vlan, node_id, case_number]
    VlanReservation:
      type: object
      properties:
        reserved_by: { type: string }
        case_number: { type: string }
        node_id: { type: string }
        reserved_at: { type: string }
    VlanReserveResponse:
      type: object
      properties:
        success: { type: boolean }
        message: { type: string }
        reservation: { $ref: '#/components/schemas/VlanReservation' }
    VlanReleaseResponse:
      type: object
      properties:
        success: { type: boolean }
        message: { type: string }
        reservation: { $ref: '#/components/schemas/VlanReservation' }
    VlanReservedResponse:
      type: object
      properties:
        success: { type: boolean }
        case_number: { type: string }
        username: { type: string }
        vlans:
          type: array
          items: { type: string }
    StarSubscribersSearchResponse:
      type: object
      properties:
        query: { type: string }
        matched_nodes: { type: integer }
        row_cap_hit: { type: boolean }
        results:
          type: array
          items:
            type: object
            properties:
              node_id: { type: string }
              used_vlans:
                type: array
                items: { type: integer }
              skipped_vlans:
                type: array
                items: { type: integer }
              next_vlan: { type: integer }
              count_used: { type: integer }
              reserved_vlans:
                type: object
                additionalProperties:
                  type: object
                  properties:
                    reserved_by: { type: string }
                    case_number: { type: string }
                    reserved_at: { type: string }
                    ttl_seconds: { type: integer }

    User:
      type: object
      properties:
        id: { type: integer }
        username: { type: string }
        first_name: { type: string }
        last_name: { type: string }
        email: { type: string }
        cone_username: { type: string }
        company_id: { type: integer }
        bucket_id: { type: string }
        supervisor_username: { type: string }
        group: { type: string }
    UsersList:
      type: object
      properties:
        success: { type: boolean }
        users:
          type: array
          items: { $ref: '#/components/schemas/User' }
        page: { type: integer }
        page_size: { type: integer }
        total: { type: integer }
        total_pages: { type: integer }
    AdminUserSummary:
      type: object
      properties:
        id: { type: integer }
        username: { type: string }
        first_name: { type: string }
        last_name: { type: string }
        email: { type: string }
        is_active: { type: boolean }
        groups:
          type: array
          items: { type: string }
        contact: { type: string, nullable: true }
        contact2: { type: string, nullable: true }
        cone_username: { type: string, nullable: true }
        company_id: { type: integer, nullable: true }
        company_name: { type: string, nullable: true }
        bucket_id: { type: string, nullable: true }
        bucket_name: { type: string, nullable: true }
        supervisor_username: { type: string, nullable: true }
        supervisor_full_name: { type: string, nullable: true }
    AdminUsersList:
      type: object
      properties:
        success: { type: boolean }
        users:
          type: array
          items: { $ref: '#/components/schemas/AdminUserSummary' }
        page: { type: integer }
        page_size: { type: integer }
        total: { type: integer }
        total_pages: { type: integer }
    AdminUserDetail:
      type: object
      properties:
        success: { type: boolean }
        user: { $ref: '#/components/schemas/AdminUserSummary' }
    TeamleaderBucketsResponse:
      type: object
      properties:
        supervisor: { type: string }
        buckets:
          type: array
          items: { $ref: '#/components/schemas/TeamleaderBucketItem' }
    TeamleaderBucketItem:
      type: object
      properties:
        bucket_name: { type: string }
        display_name: { type: string }
    TeamleaderTechniciansResponse:
      type: object
      properties:
        success: { type: boolean }
        message: { type: string }
        technicians:
          type: array
          items: { $ref: '#/components/schemas/TechnicianSummary' }
        page: { type: integer }
        page_size: { type: integer }
        total: { type: integer }
        total_pages: { type: integer }
    TechnicianSummary:
      type: object
      properties:
        id: { type: integer }
        username: { type: string }
        first_name: { type: string }
        last_name: { type: string }
        email: { type: string }
        is_active: { type: boolean }
        contact: { type: string, nullable: true }
        contact2: { type: string, nullable: true }
        cone_username: { type: string }
        company_id: { type: integer }
        bucket_id: { type: string }
        supervisor_username: { type: string }
        group: { type: string }
        supervisor: { type: string }
        bucket: { type: string }
        company: { type: string }
    Company:
      type: object
      properties:
        id: { type: integer }
        name: { type: string }
        is_active: { type: boolean }
    CompaniesList:
      type: object
      properties:
        success: { type: boolean }
        companies:
          type: array
          items: { $ref: '#/components/schemas/Company' }
    Case:
      type: object
      properties:
        case_id: { type: string }
        case_number: { type: string }
        description: { type: string }
        case_type: { type: string }
        tasks:
          type: array
          items: { $ref: '#/components/schemas/CaseTask' }
        reserved_vlans:
          type: array
          items: { type: string }
    CaseTask:
      type: object
      properties:
        reference_code: { type: string }
        task_status_lkp: { type: string }
        appointment:
          oneOf:
            - type: object
              properties:
                scheduled_date: { type: string }
                scheduled_time: { type: string }
                estimated_duration_minutes: { type: integer }
                appointment_source: { type: string }
                appointment_confirmed: { type: boolean }
                status: { type: string }
            - type: array
              items: {}
    CasesResponse:
      type: object
      properties:
        success: { type: boolean }
        message: { type: string }
        cases:
          type: array
          items: { $ref: '#/components/schemas/Case' }
        bucket_cases:
          type: array
          items:
            type: object
            properties:
              bucket: { type: string }
              cases:
                type: array
                items: { $ref: '#/components/schemas/Case' }
        page: { type: integer }
        page_size: { type: integer }
        total: { type: integer }
        total_pages: { type: integer }
    CaseInfoResponse:
      type: object
      properties:
        success: { type: boolean }
        message: { type: string }
        case:
          type: object
          additionalProperties: true
        error: { type: object }
    OfferResponse:
      type: object
      additionalProperties: true
    CustomerNameResponse:
      type: object
      additionalProperties: true
    TokenResponse:
      type: object
      properties:
        success: { type: boolean }
        token: { type: string }
    AssignCasesResponse:
      type: object
      properties:
        success: { type: boolean }
        message: { type: string }
        cases: { type: object }
    BucketsResponse:
      type: object
      properties:
        success: { type: boolean }
        buckets:
          type: array
          items: { $ref: '#/components/schemas/Bucket' }
    Bucket:
      type: object
      properties:
        id: { type: string }
        name: { type: string }
        group_queue_id: { type: string, nullable: true }
        owner: { type: string }
    UploadCasesResponse:
      type: object
      properties:
        success: { type: boolean }
        message: { type: string }
        cases:
          type: object
          properties:
            uploaded:
              type: array
              items:
                type: object
                properties:
                  number: { type: string }
                  message: { type: string }
                  vlan: { type: string, nullable: true }
            not_uploaded:
              type: array
              items:
                type: object
                properties:
                  number: { type: string }
                  message: { type: string }
                  vlan: { type: string, nullable: true }
        error: { type: string, nullable: true }
        vlan_scripts:
          type: object
          additionalProperties: true
      example:
        success: true
        message: Successfully uploaded 1 case
        cases:
          uploaded:
            - number: "1805745"
              message: uploaded
              vlan: "NA"
          not_uploaded: []
        error: null
        vlan_scripts: {}
    UploadCasesConflictResponse:
      type: object
      properties:
        success: { type: boolean }
        message: { type: string }
        cases:
          type: array
          items: { type: string }
      example:
        success: false
        message: Locality already set for case(s). Use force=true to override.
        cases: ["1805745", "1809807"]
    ReportResponse:
      type: object
      properties:
        success: { type: boolean }
        supervisor: { type: string }
        filters:
          type: object
          properties:
            date_from: { type: string }
            date_to: { type: string }
        team_summary:
          type: object
          properties:
            completed_tasks: { type: integer }
            avg_tat_hours: { type: number }
            feedback:
              type: object
              properties:
                count: { type: integer }
                avg_rating: { type: number }
                speedtest_conducted: { type: integer }
                branded_clothing: { type: integer }
                contractor_identified: { type: integer }
            ratings:
              type: object
              properties:
                count: { type: integer }
                avg_rating: { type: number }
        low_turnaround_problem_areas:
          type: array
          items:
            type: object
            properties:
              case_description: { type: string }
              avg_tat_hours: { type: number }
              count: { type: integer }
        high_turnaround_problem_areas:
          type: array
          items:
            type: object
            properties:
              case_description: { type: string }
              avg_tat_hours: { type: number }
              count: { type: integer }
        technicians:
          type: array
          items:
            type: object
            properties:
              username: { type: string }
              first_name: { type: string }
              last_name: { type: string }
              completed_tasks: { type: integer }
              avg_tat_hours: { type: number }
              feedback:
                type: object
                properties:
                  count: { type: integer }
                  avg_rating: { type: number }
                  speedtest_conducted: { type: integer }
                  branded_clothing: { type: integer }
                  contractor_identified: { type: integer }
              ratings:
                type: object
                properties:
                  count: { type: integer }
                  avg_rating: { type: number }
        completed_tasks:
          type: array
          items:
            type: object
            properties:
              task_number: { type: string }
              case_number: { type: string }
              case_description: { type: string }
              assigned_to: { type: string }
              date_assigned: { type: string }
              date_completed: { type: string }
              tat_hours: { type: number }
        debug_breakdown: { $ref: '#/components/schemas/DebugBreakdown' }
    ReportSummaryResponse:
      type: object
      properties:
        success: { type: boolean }
        supervisor: { type: string }
        granularity: { type: string }
        avg_turnaround_hours: { type: number }
        team_totals:
          type: object
          properties:
            completed_count: { type: integer }
            avg_tat_hours: { type: number }
        per_technician:
          type: array
          items:
            type: object
            properties:
              username: { type: string }
              completed_count: { type: integer }
              avg_tat_hours: { type: number }
        trends:
          type: array
          items:
            type: object
            properties:
              period: { type: string }
              completed_count: { type: integer }
              avg_tat_hours: { type: number }
        turnaround_trends:
          type: array
          items:
            type: object
[...]
